<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="STG_AQMSConnString" connectionString="Data Source=ISTAZUA02;Initial Catalog=AQMSCentral_PROD;Persist Security Info=True; User ID=AQMSUSER;Password=$AQMSUSER$;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="DEV_AQMSConnString" connectionString="data source=ISTHYDPC111;initial catalog=AQMSADNOCINDOOR; User Id=  manjith;  Password= manjith;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="PROD_AQMSConnString" connectionString="Data Source = DESKTOP-FS09DM5\MSSQLSERVER2019; Initial Catalog = AQMSCentral; User Id=  AQMSUser;  Password= AQMSUser;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- Log path
<add key="LogfilePath" value="D:\AQMSLogs\AQMSServerAvgLogs"/> -->
		<add key="defaultInterval" value="1"></add>
		<add key="Interval" value="60000"></add>
		<add key="parameterTableName" value="DMN_Parameters"></add>
		<add key="driverTableName" value="MST_Devices_Drivers"></add>
		<add key="AverageTableName" value="ParameterAverages"></add>
		<add key="ReadingTableName" value="ParameterReadings"></add>
		<add key="FlagTableName" value="DMN_Flags"></add>
		<add key="LogTableName" value="LogTable"></add>
		<add key="envConString" value="DEV_AQMSConnString" />
		<add key="winddirection" value="WD,Wind Direction" />
		<add key="rain" value="RAIN" />
		<add key="AQIParameters" value="PM10,O₃,SO2,NO₂,CO,PM2.5" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>